<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andronauts.quizard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".general.activities.SubjectActivity"></activity>
        <activity android:name=".students.activities.ProfileStudentActivity" />
        <activity android:name=".faculty.activities.ProfileFacultyActivity" />
        <activity android:name=".general.activities.StudentsActivity" />
        <activity android:name=".general.activities.FacultiesActivity" />
        <activity android:name=".students.activities.QuizStudentActivity"  />
        <activity android:name=".faculty.activities.HostQuizFacultyActivity" />
        <activity android:name=".students.activities.HomeStudentActivity" />
        <activity android:name=".faculty.activities.HomeFacultyActivity" />
        <activity android:name=".faculty.activities.RegisterFacultyActivity" />
        <activity android:name=".students.activities.RegisterStudentActivity" />
        <activity android:name=".general.activities.LoginActivity" />
        <activity android:name=".general.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>